In [1]:
import numpy as np
import pandas as pd

In [2]:
data_1970 = pd.read_excel("excel2_proj.xlsx",sheet_name='1970')
data_1978 = pd.read_excel("excel2_proj.xlsx",sheet_name='1978')
data_1987 = pd.read_excel("excel2_proj.xlsx",sheet_name='1987')

In [12]:
data_1970.head(5)

,ID,YEAR,AGGDPDF,CODE,POPDEN,PRSEED,HYVWHEAT,HYVRICE,HYVMAIZE,HYVBAJRA,...,DMSX02,DMXS03,DMXS04,DMXS05,DMXS06,DMXS07,DMXTS1,DMSXT1,DMXTS2,DMXTS3
0,3801,1970,0.446039,101,0.776813,9.903777,0.4,2.5,0.9,0.0,...,NaN,0,0,0,0,0,1.0,NaN,0,0
1,3802,1970,0.446039,102,1.601646,7.426906,1.0,8.8,0.7,0.0,...,NaN,0,0,0,0,0,NaN,0.0,0,1
2,3803,1970,0.446039,103,1.620998,6.246018,0.7,11.6,15.7,0.0,...,NaN,0,0,0,0,0,NaN,0.0,0,1
3,3804,1970,0.446039,104,1.480935,9.173570,1.4,9.1,1.4,0.1,...,0.0,0,0,0,0,0,NaN,0.0,0,1
4,3805,1970,0.446039,105,1.419400,7.860792,0.9,25.7,5.2,0.2,...,NaN,0,0,0,0,0,NaN,0.0,1,0

In [ ]:
data_1970.columns